*{
    margin: 0px;
}
.all{
    background-color: rgba(21, 44, 57, 1);
    width: 100%;
    height: 700px;
 color: gray;
 
}
.all1{
 display: flex;
 justify-content: space-around;
 padding-top: 20px;
}
.all2{
    display: flex;
    align-items: center;
    gap: 30px;
}
.all3{
    display: flex;
    align-items: center;
}
.border{
    border-bottom: 1px solid gray;
    width: 90%;
    margin-left:55px;
    margin-top: 20px;
}
.backimg{
    background-image: url(./foto/Rectangle\ 7.png);
    width: 90%;
    margin-left: 55px;
    margin-top: 30px;
    height: 50vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    color: white;
    display: flex;
}
.but1{
    background-color: rgba(229, 54, 36, 1);
    padding: 12px 154px;
    border-radius: 100px;
    border: none;
    color: white;
}
.border1{
    border: 1px solid rgb(255, 255, 255);
    width: 80px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 100px;
}
.border2{
     border: 1px solid rgb(255, 255, 255);
    width: 200px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 100px;
}
.borderflex{
    display: flex;
    gap: 20px;
}
.text{
    width: 200px;
}
.h1{
    font-size: 50px;
}
.pos{
    display: flex;
 align-items: center;
 gap: 30px;
 margin-left: 30px;
}
.h2{
    font-size: 50px;
    text-align: center;
    color: white;

}
.oxir{
    width: 300px;
    color: white;
}
.oxir h2{
   margin: 10px 0px;
}
.flex-oxir{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.don{
    display: none;
}
.nem{
    display: flex;
    align-items: center;
}
.mm img{
 width: 600px;
}
.sa{
   display: flex; 
}
.bac{
    background-color: #476178;
    height: 335px;
    padding-left: 30px;
    color: white;
    width: 100% ;
}
.bac h1{
    margin-top: 100px;
    
}
.dds{
   width: 300px;
   margin: 10px 0px;

}
.but2{
    padding: 8px 20px;
    width: 240px;
    border-radius: 20px;
    border: none;
 color: white;
 background-color: #E53624;
}
.ola{
    background-color: rgb(36, 36, 55);
    width: 230px;
    height: 199px;
    padding: 10px;
    margin-top: 40px;
}
.text-border{
 border: 1px solid white;
 color: white;
 width: 100px;
 padding-top: 8px;
 text-align: center;
 border-radius: 50px;
 height: 30px;

}
.f{
    position: relative;
    top: 50px;
    left: 10px;
}
.obw{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ssc img{
    width: 250px;
    height: 220px;

}
.k{
    margin-top: -30px;
}
.h1s{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    margin-bottom: -30px;
}

@media( max-width:510px){

     .d {
        display: none;
    }

    .all {
        height: auto;
    }
    .don{
        display: block;
        font-size: 40px;
        margin-left: 230px;
    }
    .nem{
        display: flex;
        justify-content: space-between;
    }

    .all1 {
        justify-content: space-between;
        padding: 12px 16px;
    }

    .border {
        width: 100%;
        margin-left: 0;
    }

    .backimg {
        width: 92%;
        margin: 16px auto;
        height: 260px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .pos {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        padding: 16px;
        gap: 12px;
    }

    .borderflex {
        gap: 8px;
        flex-wrap: wrap;
    }

    .border1 {
        font-size: 11px;
        padding: 4px 10px;
    }

    .border2 {
        font-size: 11px;
        padding: 4px 10px;
        width: auto;
    }

    .h1 {
        font-size: 35px;
        margin-top: 20px;
    }

    .but1 {
        width: 100%;
        padding: 12px 0;
        font-size: 15px;
        position: relative;
        top: 200px;
        width: 350px;
    }

    .text {
        font-size: 12px;
        width: 80%;
        margin-top: -20px;
    }

    .h2 {
        font-size: 40px;
        text-align: center;
        margin: 24px 16px;
        margin-top: 100px;
    }

    .flex-oxir {
        flex-direction: column;
        margin-top: 0;
        padding: 0 16px 32px;
        gap: 20px;
    }

    .oxir {
        width: 100%;
    }

    .oxir h2 {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .oxir h5 {
        font-size: 12px;
    }
   .sa{ 
    flex-direction: column;
   }
   .mm img{
 width: 450px;
   }
.bac{
    width: 420px;
}
.bac h1{
    font-size: 50px;
    margin-top: 10px;
}
.dds{
    font-size: 18px;
}
.but2{
    width: 300px;
}       
.obw{
    flex-wrap: nowrap;
    overflow: auto;
    gap: 20px;
align-items: center;
}
.ola{
    min-width: 50%;
}
.ssa{
    min-width: 50%;
}
.k{
    margin-top: 10px;
}


















}


